.InsideCtrls{
    
}
.InsideCtrls .container{
    padding: 64px 0;
}
.InsideCtrls .row{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
    width: 180px;
}
.InsideCtrls button{
    margin: 5px;
}