.Indicator{
    font-size: 32px;
    padding: 8px;
}
.Indicator .container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Indicator .floorNo{
    padding-right: 16px;
}
.Indicator .direction{
}
.Indicator .direction.up{
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    
    border-bottom: 10px solid black;
}
.Indicator .direction.down{
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    
    border-top: 10px solid black;
}